Repository JeffersonLab/hps-java, pull requests merged in 2020-04, with the labels that each got.

#694 Minor improvements to logging
  evio/src/main/java/org/hps/evio/SvtEvioReader.java
  logging/src/main/java/org/hps/logging/config/DefaultLoggingConfig.java
  logging/src/main/resources/org/hps/logging/config/logging.properties
  logging/src/main/resources/org/hps/logging/config/test_logging.properties
  util/pom.xml
  util/src/main/java/org/hps/util/FilterMCBunches.java
Labels: cleanup, minor

#698 2019 Detector with Updated Fieldmap for 1.056 GeV Running
  detector-data/detectors/HPS-v2019-1pt056GeV/HPS-v2019-1pt056GeV.lcdd
  detector-data/detectors/HPS-v2019-1pt056GeV/SamplingFractions/Ecal.properties
  detector-data/detectors/HPS-v2019-1pt056GeV/SamplingFractions/Hodoscope.properties
  detector-data/detectors/HPS-v2019-1pt056GeV/compact.xml
  detector-data/detectors/HPS-v2019-1pt056GeV/detector.properties
Labels: New Detector

#695 v2019 detector with fieldmap for running at 3.7 GeV
  detector-data/detectors/HPS-v2019-3pt7GeV/HPS-v2019-3pt7GeV.lcdd
  detector-data/detectors/HPS-v2019-3pt7GeV/SamplingFractions/Ecal.properties
  detector-data/detectors/HPS-v2019-3pt7GeV/SamplingFractions/Hodoscope.properties
  detector-data/detectors/HPS-v2019-3pt7GeV/compact.xml
  detector-data/detectors/HPS-v2019-3pt7GeV/detector.properties
Labels: New Detector

#699 v2019 detector with fieldmap for running at 2.3 GeV New Detector
  detector-data/detectors/HPS-v2019-2pt3GeV/HPS-v2019-2pt3.lcdd
  detector-data/detectors/HPS-v2019-2pt3GeV/SamplingFractions/Ecal.properties
  detector-data/detectors/HPS-v2019-2pt3GeV/SamplingFractions/Hodoscope.properties
  detector-data/detectors/HPS-v2019-2pt3GeV/compact.xml
  detector-data/detectors/HPS-v2019-2pt3GeV/detector.properties
Labels: New Detector

#703 Allow running reconstruction starting from fitted hits
  tracking/src/main/java/org/hps/recon/tracking/ClusteringAlgorithm.java
  tracking/src/main/java/org/hps/recon/tracking/DataTrackerHitDriver.java
  tracking/src/main/java/org/hps/recon/tracking/DefaultSiliconResolutionModel.java
  tracking/src/main/java/org/hps/recon/tracking/FittedRawTrackerHit.java
  tracking/src/main/java/org/hps/recon/tracking/NearestNeighborRMSClusterer.java
  tracking/src/main/java/org/hps/recon/tracking/SensorSetup.java
  tracking/src/main/java/org/hps/recon/tracking/ShapeFitParameters.java
  tracking/src/main/java/org/hps/recon/tracking/SiliconResolutionModel.java
  tracking/src/main/java/org/hps/recon/tracking/StripMaker.java
  tracking/src/test/java/org/hps/recon/tracking/DataTrackerHitDriverTest.java
Labels: cleanup, enhancement

#706 Update PrintGeometryDriver.java
  analysis/src/main/java/org/hps/analysis/examples/PrintGeometryDriver.java
Labels: enhancement
